<!DOCTYPE html>
<html >
<head>
  <meta name="viewport" content="initial-scale=1" />
  <title>A Pen by  Ivan</title>
  
  
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css'>
  <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  <html lang="en" ng-app="MainApp">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body ng-controller="MainCtrl">
    <div class="form-group col-xs-12">
      <input-text ng-model="data.firstName" label="First Name" ng-minlength="4" required></input-text>
      <input-text ng-model="data.lastName" label="Last Name" required></input-text>
  </body>
</html>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js'></script>
<script src="js/index.js"></script>
<script src="js/inputText.js"></script>

</body>
</html>
